# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server (Preview) and MongoDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE?schema=public"

# Auth0 : https://auth0.com/

AUTH0_CLIENTID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=
AUTH0_SCOPE='openid profile'
AUTH0_COOKIE='some-really-long-string-that-needs-to-be-fourty-characters'
BACKEND_ADDRESS=http://localhost:3000/